
.nav {
  grid-area: n;
  background-color: rgb(255, 139, 72);
  padding: 20px;
} 

.item {
  color: #fff;
  text-decoration: none;
  /* background: #000; */
  /* font-size: 153px; */
  /* font-family: 'Times New Roman', Times, serif; */
}

.activeLink {
  color: red;
  text-decoration: none;
}